.Homepage {
    background-image: url(./images/skyline.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vmin;
    width: auto;
}

.Homepage-name {
    color: white;
    font-size: 100px;
    margin-bottom: 0px;
}

.Homepage-typeit { 
    font-size: 40px;
    margin-bottom: 20rem;
}

.Homepage-arrow {
    color: white;
    /* margin: 0 auto; */

}

.Homepage-content-wrapper {
    position: relative;
    width: 50%;

    text-align: center;
    color: white;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.Homepage-nav {
    float: right;
    /* width: 100%; */
}