.Skills { 
    text-align: center;
}

.Skills-grid-item {
    
    background: #001529;
    padding: 2rem 0 1rem;
    color: white;
    /* margin-left: 1rem; */
    border-radius: 10px;
}

.Skills-grid-item-bullets {
    text-align: left;
    font-size: 16px;
}

.Skills-title {
    color: white;
    border-bottom: 1px solid white;
    margin: 0 1rem 1rem;

}