.TrueFalse {
    /* margin: 0 auto; */
    margin-bottom: 3rem;
}

.TrueFalse-buttons {
    margin-top: 1rem;
}

.TrueFalse-answer {
    font-style: italic;
}

.true-btn {
    float: left;
    margin-right: 1rem;
}

.correct {
    background: green;
}

.false-btn {
    /* float: right; */
    margin-right: 3rem;
}

.next-btn {
    /* display: inline-block; */
    /* float: right; */
    margin: 0 auto;
    /* text-align: left; */
}